Clément LEFEVRE <clement.lefevre1@etu.unice.fr> <35725423+Firelods@users.noreply.github.com>
Clément LEFEVRE <clement.lefevre1@etu.unice.fr> <clement.lefevre1@etu.unice.fr>
Clément LEFEVRE <clement.lefevre1@etu.unice.fr> <clement.lefevre1@etu.univ-cotedazur.fr>

Emma ALLAIN <emma.allain@etu.univ-cotedazur.fr> <119605830+emmaallain@users.noreply.github.com>
Emma ALLAIN <emma.allain@etu.univ-cotedazur.fr> <emma.allain@etu.univ-cotedazur.fr>

Baptiste LACROIX <baptiste.lacroix03@gmail.com> <61122159+BaptisteLacroix@users.noreply.github.com>
Baptiste LACROIX <baptiste.lacroix03@gmail.com> <baptiste.lacroix03@gmail.com>
Baptiste LACROIX <baptiste.lacroix03@gmail.com> <BaptisteLacroix@users.noreply.github.com>

Antoine FADDA RODRIGUEZ <antoine.fadda-rodriguez@etu.unice.fr> <antoine.fadda-rodriguez@etu.univ-cotedazur.fr>
Antoine FADDA RODRIGUEZ <antoine.fadda-rodriguez@etu.unice.fr> <antoine.fadda-rodriguez@etu.unice.fr>
Antoine FADDA RODRIGUEZ <antoine.fadda-rodriguez@etu.unice.fr> <Antoine-FdRg@users.noreply.github.com>
